@import '../../common/styles';

.info-bar {
  min-height: $cell-size * 8.75;
  background-color: grey('100');
  display: flex;
  justify-content: center;
  padding: 0 ($cell-size * 2);

  &__controls {
    display: flex;
    max-width: $cell-size * 120;
    flex: 1 1 100%;
  }

  .info-label {
    font-size: $cell-size * 2;
    line-height: $cell-size * 2.375;
    font-family: font('extrabold');
    flex: 1 1 auto;
  }
}
