@import '../../styles';

.error-message {
  width: $cell-size * 50;
  height: auto;
  padding: $cell-size * 2;
  color: rgba(color('white'), $alpha: 0.7);
  background-color: rgba(color('black'), $alpha: 0.7);
  position: fixed;
  bottom: $cell-size * 3;
  right: $cell-size * 3;

  &__title {
    font-size: $cell-size * 2;
    font-family: font('extrabold');
    padding-bottom: $cell-size;
  }

  &__desccription {
    font-size: $cell-size * 1.5;
    font-family: font('regular');
  }
}
