$cell-size: 8px;

$grey-000: #979797;
$grey-100: #555555;
$grey-200: #424242;
$grey-300: #323232;
$grey-400: #232323;

$white: #ffffff;
$black: #000000;
$pink: #f65262;

$font-montserrat-extrabold: 'Montserrat ExtraBold';
$font-montserrat-bold: 'Montserrat Bold';
$font-montserrat-medium: 'Montserrat Medium';
$font-montserrat-regular: 'Montserrat Regular';
$font-montserrat-light: 'Montserrat Light';
