@import '~@common/styles';

.movie-card {
  flex: 0 1 calc(33% - #{$cell-size * 2 * 2});
  padding: $cell-size * 2;
  flex-direction: column;
  overflow: hidden;

  a {
    text-decoration: none;
  }

  &__description {
    display: flex;
    flex: 1 1 100%;
    padding-top: ($cell-size * 2);
  }

  &-title {
    flex: 1 1 80%;
    max-width: 80%;

    &__title {
      color: rgba(color('white'), 0.7);
      font-size: $cell-size * 2;
      line-height: $cell-size * 2.75;
      font-family: font('medium');
      padding-bottom: $cell-size;
    }

    &__gengre {
      color: rgba(color('white'), 0.5);
      font-size: $cell-size * 1.75;
      line-height: $cell-size * 2;
      font-family: font('medium');
    }
  }

  &-year {
    flex: 1 1 auto;

    &__label {
      color: rgba(color('white'), 0.7);
      font-size: $cell-size * 1.75;
      line-height: $cell-size * 2;
      font-family: font('medium');
      padding: ($cell-size / 2) $cell-size;
      border: ($cell-size / 8) solid rgba($grey-000, 0.5);
      border-radius: $cell-size / 2;
      justify-content: center;
    }
  }
}
