@import '../../common/styles';

.search {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{$cell-size * 2});
  max-width: $cell-size * 120;
  align-self: center;

  &__title {
    font-size: $cell-size * 5;
    line-height: $cell-size * 6.125;
    font-family: font('light');
    padding: ($cell-size * 5) 0;
  }

  &__search-area {
    display: flex;
  }

  &__filter {
    padding: ($cell-size * 2.5) 0;
  }
}

.search-controls {
  display: flex;
  height: $cell-size * 7.125;

  &__input {

    font-size: $cell-size * 2.5;
    line-height: $cell-size * 3;
    font-family: font('regular');
    margin-right: $cell-size * 1.75;

  }

  &__button {
    font-size: $cell-size * 2.5;
    line-height: $cell-size * 3;
    font-family: font('medium');
    min-width: $cell-size * 29.125;
  }
}
