@import '../../styles';

.select-option-buttons {
  display: flex;
  align-items: center;

  &__title {
    font-size: $cell-size * 2;
    line-height: $cell-size * 2.375;
    font-family: font('regular');
    letter-spacing: $cell-size / 8;
    height: $cell-size * 4.375;
    padding-right: $cell-size * 2.5;
  }

  &__button {
    font-size: $cell-size * 2;
    line-height: $cell-size * 2.375;
    font-family: font('light');

    &:nth-of-type(1) {
      border-radius: 0;
      border-top-left-radius: $cell-size / 2;
      border-bottom-left-radius: $cell-size / 2;
    }

    &:nth-last-of-type(1) {
      border-radius: 0;
      border-top-right-radius: $cell-size / 2;
      border-bottom-right-radius: $cell-size / 2;
    }
  }
}
